@model Cartridge.Models.GameViewModel

@{
    const int RATING = 5;
    string releaseYear = Model.ReleaseDate?.Year.ToString() ?? "";
    
}

@section Scripts {
    <script>
        document.getElementById('openModal').addEventListener('click', () => {
            document.getElementById('reviewModal').classList.add('active');
        });
    </script>
}

<div class="d-flex flex-column row-gap-3">
    <div class="modal-overlay" id="reviewModal">
        <div class="modal-box">
            <button class="modal-close" id="closeModal">&times;</button>
            <h2>Write a Review</h2>
            <form method="post" action="/games/@Model.ID">
                <textarea name="reviewBody" placeholder="Write your review..."></textarea>
                <input type="number" name="rating" min="0" max="10" placeholder="Rating (1-10)" />
                <button type="submit" class="box-button">Submit</button>
            </form>
        </div>
    </div>
  <div class="banner-wrapper">
    <img src="@Model.BackgroundImageURL" class="banner" />
    <div class="header">
        <span>@Model.Name</span>
        <span>@releaseYear</span>
    </div>
  </div>
  <div class="d-flex align-items-center column-gap-3">
      <div class="interaction-box">
            <div class="box-button" style="border-top: 0px">
                <div class="d-flex flex-column row-gap-2">
                    <div>Rating</div>
                    <div class="d-flex px-4 w-100 justify-content-between column-gap-2">
                        @for(int i = 0; i < 5; i++)
                        {
                            <div class="rounded-5"
                                style="width: 12px; height: 12px; background-color: red;"></div>
                        }

                    </div>
                </div>
            </div>
            <div class="box-button" id="openModal">Review</div>
            <div class="box-button" style="border-bottom: 0px">
                Share
            </div>
      </div>
      <div class="text-std" style="font-size:18px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum tincidunt sem non libero lobortis pharetra. Praesent interdum ligula id sagittis consectetur. Sed scelerisque orci non justo rutrum, at porta nibh accumsan. Nunc nec egestas leo. Vivamus nec erat id velit posuere suscipit. Nulla suscipit risus sed purus dictum lobortis. Duis a lacinia dui, in mollis dui. Suspendisse pharetra tortor efficitur quam malesuada varius. Nunc odio nisl, convallis cursus cursus ac, 
            scelerisque quis urna. Mauris congue velit eget pharetra cursus.
      </div>
      <div class="info-box">
            <div class="d-flex flex-column">
                <div>Developed By:</div>
                
                @foreach(var developer in Model.Developer)
                {
                    <div>@developer.Name</div>
                }
            
            </div>
            <div class="d-flex flex-column">
                <div>Published By:</div>
                @foreach (var publisher in Model.Publisher)
                {
                    <div>@publisher.Name</div>
                }
            </div>
            <div class="d-flex flex-column">
                <div>Available On:</div>
                <div></div>
            </div>

      </div>
  </div>
  <div class="d-flex flex-column align-content-start">
    @foreach(var review in Model.Reviews)
    {
         <div class="d-flex flex-column row-gap-2">
             <div class="text-std">@review.Username</div>
             <div class="text-std">@review.ReviewBody</div>
                <div class="text-std">@{
                        review.ReviewDate.ToString();
                    }</div>
            </div>   
    }
  </div>


</div>
