@model Cartridge.Models.GameViewModel

@{
    const int RATING = 5;
    string releaseYear = Model.ReleaseDate?.Year.ToString() ?? "";
    
}

@section Scripts {
    <script>
        document.getElementById('openModal').addEventListener('click', () => {
            document.getElementById('reviewModal').classList.add('active');
        });
    </script>
}

<div class="w-100" style="">
    <div class="route">
        <div class="route-text">Home</div>
        <div class="" style="color:var(--color-text-secondary);font-size:9px;">></div>
        <div class="route-text">Games</div>
        <div class="" style="color:var(--color-text-secondary);font-size:9px;">></div>
        <div class="route-text" style="font-size: 13px;">@Model.Name</div>
    </div>
    <div class="info-row">
        <div class="info-left">
            <div class="game-wrapper">
                <img src="@Model.CoverImageURL" alt="@Model.Name" class="game-portrait"/>
            </div>
            <div class="d-flex flex-wrap justify-content-center row-gap-1 column-gap-1" style="max-width: 192px;padding-top:15px;">
                @foreach(Platforms platform in Model.Platforms)
                {
                    <div class="platform-button">@(platform.ShortName ?? platform.PlatformName)</div>
                }
            </div>
        </div>
        <div class="info-right" style="width: 100%;">
            <div class="title-games">
                @Model.Name 
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex align-items-center column-gap-2">
                    <div class="subtitle-games">Developer</div>
                    <div class="company-names">
                        @{
                            int indexD = 0;
                            foreach (Companies developer in Model.Developer)
                            {
                                <span class="">@(developer.Name) </span>
                                if (indexD + 1 < Model.Developer.Count())
                                {
                                    <span>·</span>
                                }
                                indexD++;
                            }
                        }
                    </div>
                </div>
                <div class="d-flex align-items-center column-gap-2">
                    <div class="subtitle-games">Publisher</div>
                    <div class="company-names">
                        @{
                            int indexP = 0;
                            foreach(Companies publisher in Model.Publisher)
                            {
                                <span class= "" >@(publisher.Name) </span>
                                if(indexP + 1 < Model.Publisher.Count())
                                {
                                    <span>·</span>
                                }
                                indexP++;
                            }
                        }
                    </div>
                </div>
                <div class="d-flex align-items-center column-gap-2">
                    <div class="subtitle-games">Released</div>
                    <div class="company-names">@Model.ReleaseDate?.ToString("MMM dd yyyy")</div>
                </div>
                <div class="d-flex align-items-center column-gap-2">
                    <div class="subtitle-games">Genres</div>
                    <div class="company-names">Example</div>
                </div>
            </div>
            <div class="review-panel">
                <div class="review-avg-text">@Model.ReviewMeta.AverageRating</div>
                <div class="d-flex flex-column" style="min-width: 150px;" >
                    <div style="color: var(--color-accent);">★★★★★</div>
                    <div class="d-flex column-gap-1" style="color: var(--color-text-muted);font-size: 11px;"> 
                        <div>@Model.Ratings.Count() Ratings </div>
                        <span>·</span>
                        <div>@Model.Reviews.Count() Reviews </div>
                    </div>
                </div>
                <div class="review-bar-container">
                    <div class="d-flex align-items-center column-gap-1 review-bar-text" style="width: 100%;">
                        5★
                        <div class="review-bar-background">
                        </div>
                        @Model.ReviewMeta.FiveStars
                    </div>
                    <div class="d-flex align-items-center column-gap-1 review-bar-text">
                        4★
                        <div class="review-bar-background">
                        </div>
                        @Model.ReviewMeta.FourStars
                    </div>
                    <div class="d-flex align-items-center column-gap-1 review-bar-text">
                        3★
                        <div class="review-bar-background">
                        </div>
                        @Model.ReviewMeta.ThreeStars
                    </div>
                    <div class="d-flex align-items-center column-gap-1 review-bar-text">
                        2★
                        <div class="review-bar-background">
                        </div>
                        @Model.ReviewMeta.TwoStars
                    </div>
                    <div class="d-flex align-items-center column-gap-1 review-bar-text">
                        1★
                        <div class="review-bar-background">
                        </div>
                        @Model.ReviewMeta.OneStars
                    </div>

                </div>
            </div>
            <div class="d-flex align-items-center" style="padding-top: 5px; column-gap: 8px;">
                <div class="gbutton-primary">
                    <iconify-icon icon="mdi:plus"></iconify-icon>
                    <div>Log</div>
                </div>
                <div class="gbutton-primary"> 
                    <iconify-icon icon="mdi:star-outline"></iconify-icon>
                    <div>Rate</div>
                </div>
                <div class="gbutton-primary">
                    <iconify-icon icon="mdi:comment-add"></iconify-icon>
                    <div>Write a review</div>
                </div>
                
            </div>

        </div>
        
    </div>

</div>
